POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
REDIS_HOST=
REDIS_PORT=
JWT_ACCESS_TOKEN_TIME=
JWT_REFRESH_TOKEN_TIME=
LOGIN_FIELD=
PORT=
WEATHER_API_KEY=
WEATHER_API_BASE_URL=
COOKIE_EXPIRATION_DAYS_TIME=
REDIS_WEATHER_DATA_TTL_SECONDS=
REDIS_GEODB_CITIES_DATA_TTL_SECONDS=
REDIS_DEFAULT_TTL_SECONDS=
GEODB_API_BASE_URL=
GEODB_API_KEY=
GEODB_API_HOST=
GEODB_MAX_CITIES_LIMIT=